<section class="landing-section h-screen  text-center relative overflow-hidden" data-header-color='black'>
    <div class="z-30 relative h-full flex flex-col ">
      <header class=" relative text-black">
        <h2 class="pt-40 text-5xl font-medium">Acesorios</h2>
        
      </header>

      <footer
        class="relative text-red-400 flex flex-grow  flex-col justify-end pb-20   "
      >
      <div class="botonConducion">
        <a class="text-white border-2 rounded font-medium px-10 py-2 inline-block bg-slate-900 mb-[4%]  " href="#">Comprar ahora</a>
      </div>
      <div>
        <ul class="flex flex-row text-black justify-center gap-3 text-sm">
            <li><a href="#"></a>Tesla 2023</li>
            <li><a href="#"></a>Privacidad y legal</li>
            <li><a href="#"></a>Contacto</li>
            <li><a href="#"></a>Noticias</li>
            <li><a href="#"></a>Seguir informado</li>
            <li><a href="#"></a>Localización de tiendas</li>
        </ul>
      </div>
      </footer>
    </div>

    <div class="absolute top-0 bottom-0 z-10 h-full w-full">
        <img
          class="h-full w-full object-cover"
          src="/public/Cargador.avif"
          alt=""
        />
      </div>
  </section>

  <style>
    .botonConducion a:hover{
      transition: 2s;
    }
    
    .text-sm{
      margin-top: 0.5%;
      
    }
    </style>