---
import Logo from "./Logo.astro";

---

<header
id="Landing-Header"
class="py-4 px-12 flex items-center fixed top-0 w-full justify-between font-medium text-black cursor-pointer z-40"
>
<div class="flex flex-grow">
 <Logo/>
</div>

<nav>
  <ul
    class="flex text-sm [&>li>a]:inline-block [&>li>a]:text-current [&>li>a]:px-4 [&>li>a]:py-2 cursor-pointer"
  >
    <li><a href="#"></a>Model S</li>
    <li><a href="#"></a>Model 3</li>
    <li><a href="#"></a>Model X</li>
    <li><a href="#"></a>Model Y</li>
    <li><a href="#"></a>Powerall</li>
    <li><a href="#"></a>Carga</li>
  </ul>
</nav>

<nav class="flex flex-grow justify-end basis-10">
  <ul
    class="flex text-sm [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 cursor-pointer"
  >
    <li><a href=""></a>Soporte</li>
    <li><a href=""></a>Tienda</li>
    <li><a href=""></a>Cuenta</li>
    <li><a href=""></a>Menú</li>
  </ul>
</nav>
</header>

<script>
  const header = document.querySelector('Landing-Header') as HTMLElement;
  const observerOptions = {
    root: null,
    rootMargin: '0px',
    threshold: 0.90
  };

  const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      const { isIntersecting } = entry;
      if (isIntersecting) {
        const color = entry.target.getAttribute('data-header-color');
        header.style.color = color;
      }
    });
  }, observerOptions);

  const sections = document.querySelectorAll('.landing-section');
  sections.forEach(section => observer.observe(section));
</script>
